
.banner {
	background: #008 url(../images/blue_plasm_4.jpg);
	}

a { color: #228; }

a:hover { color: #28e; }

.menus {
	width: 240px;
	}

.synopsis {
	background-color: #e0f0ff;
	font-family: monospace;
	border: 1px solid #888;
	}

