
.banner {
    background: #008 url(../images/blue_plasm_4.jpg);
  }

body { min-width: 880px; }

pre.specs {
    font-size: smaller;
  }

table.edit {
    background-color: #ffc;
    color: black;
    border: 1px solid black;
  }

li.edit {
    margin: 10px;
  }
