
body { min-width: 768px; }

.content { margin: 10px; }

.shots_menu {
	width: 80%;
	}

.shots_menu td {
	background-color: #ddd;
	border: 1px solid black;
	width: 33%;
	text-align: center;
	}

.shots_menu a {
	color: black;
	text-decoration: none;
	}

.shots_menu a:hover {
	color: red;
	text-decoration: none;
	}

