<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Configure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libpng dynamic (Mac OS X).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libpng static (Mac OS X).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libpng static (iOS Simulator &amp; Device).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libpng static (iOS).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libpng.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BF3B08B122B1B6A0092AE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BF3B093122B1B9B0092AE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BF3B10B122B1C070092AE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BF3B110122B1C860092AE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BF3B148122DE51E0092AE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC045055464E500DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
