obj_win32
lib_win32
obj_macosx
lib_macosx
lib_macosx/libpng
Hyper3DGE.app
edge.macosx
/warnings.osx.log
/logmake
desktop.ini
edge2.exe
edge.exe
lib_linux
obj_linux
obj_bsd
build
releases
backups
src/gitinfo.h
*.dll
VSLibs
ffmpeg
upx