builds
obj_win32
lib_win32
obj_macosx
lib_macosx
lib_macosx/libpng
Hyper3DGE.app
edge.macosx
/warnings.osx.log
/logmake
desktop.ini
edge2.exe
edge.exe
lib_linux
obj_linux
obj_bsd
obj_build
build
build2
build3
build64
releases
backups
/src/gitinfo.h
*.dll
VSLibs
ffmpeg
md5_conv
splines
upx
.vscode
src/gitinfo.h
doom2.wad
/data/3DGE
/data/zdbsp
/VSLibs_vs2017
/VSLibsx64
/build64
/rott_resources
/MapToWad
/rott_tc_16
/modules
.vs
/.vs
OGGVorbis
/ffmpeg
ffmpeg
stash
/cmake-build-debug
/cmake-build-release
/.idea
